body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  color: #0066cc;
  display: inline;
  padding: 30px;
  margin: 30px;
}

#wrapper {
  padding: 20px;
  border: 5px solid #4CAF50;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ul.inline li {
  display:inline;
  padding: 20px;
  font-size: 20px;
}

button {
  float: right;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 4px;
}

.button:hover {
  background-color: #45a049;
}
