<div *ngIf="product" id="wrapper">

  <h2 id="title">Product: {{product.name}}</h2>

  <button (click)="addToCart()" class="button">add to cart</button>
  <button (click)="deleteProduct(product.id)" class="button">delete</button>
  <button routerLink="/update/{{product.id}}" class="button">edit</button>
  <button (click)="goBack()" class="button">back</button>

    <ul class="inline">
      <li>Name:</li>
      <li>{{product.name}}</li>
    </ul>

    <ul class="inline">
      <li>Category:</li>
      <li>{{product.category}}</li>
    </ul>

    <ul class="inline">
      <li>Price:</li>
      <li>{{product.price}}</li>
    </ul>

</div>
